[submodule "api"]
	path = api
	url = https://git.snet.tu-berlin.de/blockchain/dims/api.git
	branch = v1.x
[submodule "demo-mongo-backend"]
	path = demo-mongo-backend
	url = https://git.snet.tu-berlin.de/blockchain/dims/demo-mongo-backend.git
[submodule "cloudagent"]
	path = cloudagent
	url = https://git.snet.tu-berlin.de/blockchain/dims/cloudagent.git
