[submodule "api"]
	path = api
	url = https://git.snet.tu-berlin.de/blockchain/dims/api.git
	branch = v1.x
[submodule "demo-mongo-backend"]
	path = demo-mongo-backend
	url = https://git.snet.tu-berlin.de/blockchain/dims/demo-mongo-backend.git
[submodule "cloudagent"]
	path = cloudagent
	url = https://git.snet.tu-berlin.de/blockchain/dims/cloudagent.git
[submodule "issuer-app"]
	path = issuer-app
	url = https://git.snet.tu-berlin.de/blockchain/dims/issuer-app.git
	branch = dev
[submodule "openid-ssi_login"]
	path = openid-ssi_login
	url = https://git.snet.tu-berlin.de/blockchain/dims/openid-ssi_login.git
	branch = develop
